* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Zen Maru Gothic', sans-serif;
}

html {
	background-color: #000D1A;
	font-size: 16px;
	color: #FFF;
}

header {
	background-color: #0080FF;
	padding: 4px 24px;
	position: sticky;
	width: 100vw;
}

main {
	padding: 12px 0;
}

h1 {
	font-size: 1rem;
	font-weight: 500;
}

h3 {
	font-size: 1.3rem;
	font-weight: 500;
	letter-spacing: .04rem;
}

h4 {
	font-size: 1rem;
	font-weight: 300;
}

button {
	border: none;
	border-radius: 6px;
	padding: 2px 4px;
	background-color: #0080FF;
	color: #FFF;
	cursor: pointer;
	float: right;
	margin-right: 12px;
}

span.material-icons {
	font-size: 1rem;
	vertical-align: middle;
	padding-bottom: 2px;
	color: #0080FF;
	cursor: pointer;
}

#treemob {
	display: flex;
	width: 100%;
	padding: 0 24px;
}

#treemob-dist {
	display: flex;
	width: 100%;
	padding: 0 24px;
}

#treemob.hidden {
	display: none;
}


#treemob-dist.hidden {
	display: none;
}

.tree-container {
	width: 75%;
	display: block;
	position:relative;
}

#distr-container {
	width: 25%;
}

#in-tree, #out-tree, #dist-tree-in, #dist-tree-out {
	position: relative;
	padding: 0;
	margin: 0;
}

#out-tree svg,  #dist-tree-out svg {
	vertical-align: bottom;
	bottom: 0;
}

#bar-in, #bar-out {
	max-height: 320px;
	position: relative;
	padding: 0;
	margin: 0;
}

#bar-in svg{
	vertical-align: top;
	top: 0;
}

#stats-container {
	width: 100vw;
	display: flex;
	padding: 0 24px;
}

#info {
	display: none;
	background-color: #FFF;
	width: 300px;
	padding: 8px 16px 16px;
	position: absolute;
}

#info.show {
	display: block;
}

#info section {
	display: none;
}

#info section.show {
	display: block;
	color: #000D1A;
}

.stats {
	width: 25%;
	padding: 16px;
}

.light {
	opacity: .2;
}